
/* MOBILE MENU STYLE START */
/* Text left of hamburger in the Theme Builder */
.et_mobile_nav_menu:before  {
content: 'MENU';
position: absolute;
right: 40px;
margin-top:5px;
color: #333;
font-size:16px;
}

/* Text left of hamburger in Divi 3 */
#et_mobile_nav_menu:before  {
content: 'MENU';
position: absolute;
right: 33px;
bottom:30px;
color: #333;
font-size:16px;
}

/* X icon in expanded mobile menu */
.mobile_nav.opened .mobile_menu_bar:before {
content: '\4d';
}

/* Remove the top line in the mobile menu*/
.et_mobile_menu {
border-top:0;
}

/* Center-align moble menu items */

.et_mobile_menu li {
text-align:center !important;
}
  
.et_mobile_menu li li, .et_mobile_menu li ul {
padding-left:0 !important;
}

/* Make mobile menu fullwidth */
.et_mobile_menu {
min-width: 100vw;
margin-left: -10vw;
}

/* Make the mobile menu full height */

.et_mobile_menu {
min-height:100vh !important;
min-height: -webkit-fill-available;
padding-top:50px !important;
}

html {
height: -webkit-fill-available;
}

/* Remove the animation to avoid delay */

.mobile_nav.opened .et_mobile_menu {
display:block !important;
}

/* MOBILE MENU STYLE END */

/* === DESIGN DIVI HAMBURGER START === */
/* Styling Middle Line - Code By https://wa.me/+8801772812413 */
.mobile_menu_bar{
	width:35px;
	height:3px;
	background:#000; /* Change the color if you are using black background */
	border-radius:20px;
	transition: all .5s ease-in-out;
}

/* Styling Top and Bottom Line - Code By https://wa.me/+8801772812413 */
.mobile_menu_bar:before,
.mobile_menu_bar:after{
	content:'';
	height:3px;
	position:absolute;
	background:#000; /* Change the color if you are using black background */
	border-radius:20px;
	transition: all .5s ease-in-out;
}

/* Reducing width of Top Line - Code By https://wa.me/+8801772812413 */
.mobile_menu_bar:before{
	width:30px;
	transform:translatey(-8px);
	transition: all .5s ease-in-out;
}

/* Reducing width of Bottom Line - Code By https://wa.me/+8801772812413 */
.mobile_menu_bar:after{
	width:25px;
	transform:translatey(8px);
	transition: all .5s ease-in-out;

}

/* Sliding Middle line to the left - Code By https://wa.me/+8801772812413 */
.mobile_nav.opened .mobile_menu_bar{
	transform:translatex(-50px);
	background:transparent;
	transition: all .5s ease-in-out;
}

/* Rotating the line once it is open - Code By https://wa.me/+8801772812413 */
.mobile_nav.opened .mobile_menu_bar:before{
	transform:rotate(45deg) translate(35px, -35px);
	transition: all .5s ease-in-out;
}

/* Rotating the line once it is open - Code By https://wa.me/+8801772812413 */
.mobile_nav.opened .mobile_menu_bar:after{
	transform:rotate(-45deg) translate(35px, 35px);
	transition: all .5s ease-in-out;
	width:30px;
}

/*If dropdown is overlapping hamburger use the below code*/

ul#mobile_menu2 {
    top: 30px;
}
/* === DESIGN DIVI HAMBURGER END === */

/* Search button to Search Icon start*/

.ds-icon-search input.et_pb_searchsubmit,
.widget_search input#searchsubmit {
    background: transparent;
    color: transparent;
    border: none;
    width: 55px;
    z-index: 2;
}
.ds-icon-search input.et_pb_s,
.widget_search input#s {
    padding-right: 55px !important;
}
.ds-icon-search .et_pb_searchform:before,
.widget_search::before {
    content: '\55';
    position: absolute;
    font-family: 'ETModules';
    z-index: 1;
    right: 0;
    font-size: 20px;
    padding: 8px 20px;
}
/* Search button to Search Icon end*/

/** My Account **/
.woocommerce-account .woocommerce-MyAccount-navigation{
	display:none;
}
.woocommerce-account .woocommerce-MyAccount-content {
    float: unset;
    width: 100%;
    padding: 0 10%;
}